@font-face {
    font-family: "Amsdam";
    src: url("../fonts/Amsdam-Regular/Amsdam.eot");
    src: url("../fonts/Amsdam-Regular/Amsdam.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Amsdam-Regular/Amsdam.svg#Amsdam") format("svg"),
        url("../fonts/Amsdam-Regular/Amsdam.ttf") format("truetype"),
        url("../fonts/Amsdam-Regular/Amsdam.woff") format("woff"),
        url("../fonts/Amsdam-Regular/Amsdam.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CrimsonText";
    src: url("../fonts/CrimsonText-Italic/CrimsonText.eot");
    src: url("../fonts/CrimsonText-Italic/CrimsonText.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CrimsonText-Italic/CrimsonText.svg#CrimsonText") format("svg"),
        url("../fonts/CrimsonText-Italic/CrimsonText.ttf") format("truetype"),
        url("../fonts/CrimsonText-Italic/CrimsonText.woff") format("woff"),
        url("../fonts/CrimsonText-Italic/CrimsonText.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "CrimsonText-Roman";
    src: url("../fonts/CrimsonText-Roman/CrimsonText.eot");
    src: url("../fonts/CrimsonText-Roman/CrimsonText.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CrimsonText-Roman/CrimsonText.svg#CrimsonText-Roman") format("svg"),
        url("../fonts/CrimsonText-Roman/CrimsonText.ttf") format("truetype"),
        url("../fonts/CrimsonText-Roman/CrimsonText.woff") format("woff"),
        url("../fonts/CrimsonText-Roman/CrimsonText.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold/Montserrat.eot");
    src: url("../fonts/Montserrat-Bold/Montserrat.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat-Bold/Montserrat.svg#Montserrat") format("svg"),
        url("../fonts/Montserrat-Bold/Montserrat.ttf") format("truetype"),
        url("../fonts/Montserrat-Bold/Montserrat.woff") format("woff"),
        url("../fonts/Montserrat-Bold/Montserrat.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular/Montserrat.eot");
    src: url("../fonts/Montserrat-Regular/Montserrat.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat-Regular/Montserrat.svg#Montserrat") format("svg"),
        url("../fonts/Montserrat-Regular/Montserrat.ttf") format("truetype"),
        url("../fonts/Montserrat-Regular/Montserrat.woff") format("woff"),
        url("../fonts/Montserrat-Regular/Montserrat.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
